<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Keita Iisaka</title>
	<!-- bootstrap CDN Only here for emmet access-->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" /> -->
	<link rel="stylesheet" href="./assets/scss/main.scss">
</head>

<body class="position-relative" data-bs-spy="scroll" data-bs-target="#navTop" data-bs-offset="100">
	<!-- About section -->
	<section id="about" class="bg-light">
		<div class="container-lg py-5">
			<div class="row justify-content-around justify-content-lg-between align-items-center">
				<div class="col-md-6 text-center text-md-start text-black mb-4 my-md-0">
					<h2 class="pt-3">A little about me</h2>
					<p class="lead"> Hi my name is Keita Iisaka and I'm a self taught web developer! I picked up coding
						a year and a half ago and I absolutely love it! Whilst working a full time job I have been
						gradually teaching myself all the neccesarry tools and methods to become a front-end
						web-developer. I really enjoy learning new concepts and methods and have been utilising the
						latest trends and conventions available to create fast and responsive webpages. <br />Please
						take a look below to see my completed projects.</p>
					<a href="#" type="button" class="bg-primary btn text-white rounded-pill my-3 my-md-0">Click here to
						view CV</a>
				</div>
				<picture class="col-8 col-sm-7 col-md-4">
					<source type="image/webp"
						srcset=".assets/images/keitaSelfy.webp 1x, .assets/images/keitaSelfy@2x.webp 2x, .assets/images/keitaSelfy@3x.webp 3x">
					<source type="image/png"
						srcset=".assets/images/keitaSelfy.png 1x, .assets/images/keitaSelfy@2x.png 2x, .assets/images/keitaSelfy@3x.png 3x">
					<img class="img-fluid rounded-pill " src=".assets/images/keitaSelfy.png" alt="Picture of me">
				</picture>
			</div>
		</div>
	</section>
	<!-- Font awesome kit -->
	<script src="https://kit.fontawesome.com/e25f9f83a1.js" crossorigin="anonymous"></script>
</body>

</html>