<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Keita Iisaka</title>
	<!-- bootstrap CDN Only here for emmet access-->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" /> -->
	<link rel="stylesheet" href="./assets/scss/main.scss">
</head>

<body class="position-relative" data-bs-spy="scroll" data-bs-target="#navTop" data-bs-offset="100">
	<!-- Navigation bar -->
	<nav id="navTop"
		class="navbar navbar-expand-md bg-black navbar-light fixed-top border-primary border-bottom border-3">
		<div class="container-xxl">
			<a href="#hero" class="navbar-brand ">
				<img class="d-inline-block align-top" src="images/LightKLogo.png" alt="navbarlogo" height="30px"
					width="30px" />
			</a>
			<button class="navbar-toggler collapsed d-flex d-md-none flex-column justify-content-around" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="toggler-icon top-bar"></span>
				<span class="toggler-icon middle-bar"></span>
				<span class="toggler-icon bottom-bar"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav py-5 py-sm-0 text-center">
					<li class="nav-item mx-1">
						<a class="nav-link" href="#hero">Home</a>
					</li>
					<li class="nav-item mx-1 ">
						<a class="nav-link" href="#about">About me</a>
					</li>
					<li class="nav-item mx-1  ">
						<a class="nav-link " href="#myprojects"> My projects </a>
					</li>
					<li class="nav-item mx-1  ">
						<a class="nav-link " href="#contact"> Contact me </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>

</html>