<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Keita Iisaka</title>
	<!-- bootstrap CDN Only here for emmet access-->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" /> -->
	<link rel="stylesheet" href="./assets/scss/main.scss">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="position-relative" data-bs-spy="scroll" data-bs-target="#navTop" data-bs-offset="100">
	<!-- Projects section  -->
	<section id="myprojects" class=" bg-black text-white">
		<div class="h-75 container-fluid py-5 text-center ">
			<h2 class="py-3 h1 text-secondary ">My Projects</h2>
			<div class="row justify-content-center ">
				<div class="col-7 col-sm-6 col-md-5 col-lg-3 mx-3 gy-3 gy-lg-5 card p-0 border-primary "
					data-aos="zoom-in-up">
					<div class="container p-0">
						<picture>
							<source type="image/webp"
								srcset="./assets/images/Moshify.webp 1x, ./assets/images/Moshify@2x.webp 2x">
							<source type="image/png"
								srcset="./assets/images/Moshify.png 1x, ./assets/images/Moshify@2x.png 2x">
							<img src="./assets/images/Moshify.png" alt="Crypto Website project" class="card-img" />
						</picture>
						<div class="card-img-overlay justify-content-around align-items-center fw-bold lead row ">
							<a href="https://kingkay.netlify.app/" type="button"
								class="col-8 col-md-5 col-lg-6 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">View
								page</a>
							<a href="#" type="button"
								class="col-8 col-md-5 col-lg-5 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">GitHub</a>
						</div>
					</div>
				</div>
				<div class="col-7 col-sm-6 col-md-5 col-lg-3 mx-3 gy-3 gy-lg-5 card p-0 border-primary"
					data-aos="zoom-in-up">
					<div class="container p-0">
						<picture>
							<source type="image/webp"
								srcset="./assets/images/AlexAuto.webp 1x, ./assets/images/AlexAuto@2x.webp 2x">
							<source type="image/png"
								srcset="./assets/images/AlexAuto.png 1x, ./assets/images/AlexAuto@2x.png 2x">
							<img src="./assets/images/AlexAuto.png" alt="Crypto Website project" class="card-img" />
						</picture>
						<div class="card-img-overlay justify-content-around align-items-center fw-bold lead row ">
							<a href="https://www.alexautodetailing.co.uk" type="button"
								class="col-8 col-md-5 col-lg-6 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">View
								page</a>
							<a href="#" type="button"
								class="col-8 col-md-5 col-lg-5 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">GitHub</a>
						</div>
					</div>
				</div>
				<div class="col-7 col-sm-6 col-md-5 col-lg-3 mx-3 gy-3 gy-lg-5 card p-0 border-primary"
					data-aos="zoom-in-up">
					<div class="container p-0">
						<picture>
							<source type="image/webp"
								srcset="./assets/images/Moshify.webp 1x, ./assets/images/Moshify@2x.webp 2x">
							<source type="image/png"
								srcset="./assets/images/Moshify.png 1x, ./assets/images/Moshify@2x.png 2x">
							<img src="./assets/images/Moshify.png" alt="Crypto Website project" class="card-img" />
						</picture>
						<div class="card-img-overlay justify-content-around align-items-center fw-bold lead row ">
							<a href="https://kingkay.netlify.app/" type="button"
								class="col-8 col-md-5 col-lg-6 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">View
								page</a>
							<a href="#" type="button"
								class="col-8 col-md-5 col-lg-5 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">GitHub</a>
						</div>
					</div>
				</div>
				<div class="col-7 col-sm-6 col-md-5 col-lg-3 mx-3 gy-3 gy-lg-5 card p-0 border-primary"
					data-aos="zoom-in-up">
					<div class="container p-0">
						<picture>
							<source type="image/webp"
								srcset="./assets/images/GuessMyNumber.webp 1x, ./assets/images/GuessMyNumber@2x.webp 2x">
							<source type="image/png"
								srcset="./assets/images/GuessMyNumber.png 1x, ./assets/images/GuessMyNumber@2x.png 2x">
							<img src="./assets/images/GuessMyNumber.png" alt="Crypto Website project"
								class="card-img" />
						</picture>
						<div class="card-img-overlay justify-content-around align-items-center fw-bold lead row ">
							<a href="https://kingkay.netlify.app/" type="button"
								class="col-8 col-md-5 col-lg-6 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">View
								page</a>
							<a href="#" type="button"
								class="col-8 col-md-5 col-lg-5 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">GitHub</a>
						</div>
					</div>
				</div>
				<div class="col-7 col-sm-6 col-md-5 col-lg-3 mx-3 gy-3 gy-lg-5 card p-0 border-primary"
					data-aos="zoom-in-up">
					<div class="container p-0">
						<picture>
							<source type="image/webp"
								srcset="./assets/images/NaughtsNCrosses.webp 1x, ./assets/images/NaughtsNCrosses@2x.webp 2x">
							<source type="image/png"
								srcset="./assets/images/NaughtsNCrosses.png 1x, ./assets/images/NaughtsNCrosses@2x.png 2x">
							<img src="./assets/images/NaughtsNCrosses.png" alt="Crypto Website project"
								class="card-img" />
						</picture>
						<div class="card-img-overlay justify-content-around align-items-center fw-bold lead row ">
							<a href="https://kingkay.netlify.app/" type="button"
								class="col-8 col-md-5 col-lg-6 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">View
								page</a>
							<a href="#" type="button"
								class="col-8 col-md-5 col-lg-5 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">GitHub</a>
						</div>
					</div>
				</div>
				<div class="col-7 col-sm-6 col-md-5 col-lg-3 mx-3 gy-3 gy-lg-5 card p-0 border-primary"
					data-aos="zoom-in-up">
					<div class="container p-0">
						<picture>
							<source type="image/webp"
								srcset="./assets/images/NaughtsNCrosses.webp 1x, ./assets/images/NaughtsNCrosses@2x.webp 2x">
							<source type="image/png"
								srcset="./assets/images/NaughtsNCrosses.png 1x, ./assets/images/NaughtsNCrosses@2x.png 2x">
							<img src="./assets/images/NaughtsNCrosses.png" alt="Crypto Website project"
								class="card-img" />
						</picture>
						<div class="card-img-overlay justify-content-around align-items-center fw-bold lead row ">
							<a href="https://kingkay.netlify.app/" type="button"
								class="col-8 col-md-5 col-lg-6 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">View
								page</a>
							<a href="#" type="button"
								class="col-8 col-md-5 col-lg-5 col-xl-4 btn btn-lg bg-primary rounded-pill shadow text-nowrap text-light">GitHub</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Font awesome kit -->
	<script src="https://kit.fontawesome.com/e25f9f83a1.js" crossorigin="anonymous"></script>
</body>

</html>