<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Keita Iisaka</title>
	<!-- bootstrap CDN Only here for emmet access-->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" /> -->
	<link rel="stylesheet" href="./assets/scss/main.scss">
</head>

<body class="position-relative" data-bs-spy="scroll" data-bs-target="#navTop" data-bs-offset="100">
	<!-- Skills -->
	<section id="skills" class="text-light text-center bg-primary">
		<div class="h-75 container">
			<div class="row justify-content-center pt-2 pb-3 gy-3 ">
				<div class="col-3 ">
					<i class="fab fa-brands fa-html5" data-aos="fade-down"></i>
				</div>
				<div class="col-3">
					<i class="fab fa-brands fa-css3-alt" data-aos="fade-down"></i>
				</div>
				<div class="col-3">
					<i class="fab fa-brands fa-js-square" data-aos="fade-down"></i>
				</div>
				<div class="col-3">
					<i class="fab fa-brands fa-sass" data-aos="fade-down"></i>
				</div>
				<div class="col-3">
					<i class="fab fa-brands fa-bootstrap" data-aos="fade-up"></i>
				</div>
				<div class="col-3">
					<i class="fab fa-brands fa-node" data-aos="fade-up"></i>
				</div>
				<div class="col-3">
					<a href="#" class="link-dark" data-bs-toggle="tooltip" data-bs-placement="right"
						title="Github link for this website!"><i class="fab fa-brands fa-github"
							data-aos="fade-up"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!-- Font awesome kit -->
	<script src="https://kit.fontawesome.com/e25f9f83a1.js" crossorigin="anonymous"></script>
</body>

</html>