//Overlay for projects
#myprojects {
  .card-img-overlay {
    background-color: #00bebe2a;
    opacity: 0%;
    transition: all 0.75s ease-in-out;
    &:hover {
      opacity: 100%;
      transform: scale(1.05);
    }
  }
}
